<section class="grid">
  <div class="grid col-11">
      <mat-form-field class="filtrar__input"  appearance="outline">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [(ngModel)]="pesquisar" (keyup)="filtrar()">
        <button *ngIf="pesquisar" matSuffix mat-icon-button (click)="pesquisar=''">
          <mat-icon>close</mat-icon>
        </button>
        <button *ngIf="!pesquisar" matSuffix mat-icon-button >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
  </div>
  <div class="col-1 botao__criar">

      <button  mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
  </div>
</section>
