 @import 'primeflex/primeflex.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container{
  margin: 2em 10%;
  padding: 12px;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 38%);
}

.color__button-ok{
  background-color: #2e7d32 !important ;
  color: white !important;
}

.color__button-editar:disabled, .color__button-ok:disabled{
  background-color: #e0e0e0 !important ;
  color: #a6a6a6 !important;
}

.color__button-editar{
  background-color: #1565c0 !important ;
  color: white !important ;
}


// .mat-dialog-container {
// //   padding: 0 !important;

// }
